body {
	margin: auto;
}
#wrapper {
	overflow-x: hidden;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	/* background-color: #0f3158; */
	background-image: linear-gradient(#2c67ac, #0f3158);
}
#sidebar-wrapper a {
	text-decoration: none;
}
#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
	color: whitesmoke;
}
#sidebar-wrapper .list-group {
	margin-top: 10px;
	width: 15rem;
}
#sidebar-wrapper .nav-link {
	font-weight: 500;
	color: white;
}
#sidebar-wrapper .active {
	font-weight: 500;
	color: #00ff11;
}
#sidebar-wrapper .logout {
	font-weight: 500;
	color: #ff6b6b;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}
.btn-color-dark {
	background-color: #0f3158;
	font-weight: 500;
	color: #00ff11;
}
.btn-color-dark:hover {
	background-color: #154174;
	font-weight: 500;
	color: white;
}

.navbar-nav .active {
	font-weight: 700;
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}
